doctype
head
  meta(charset="utf-8")
  title #{title}
  link(href="main.css",rel="stylesheet")
  script(src="https://code.jquery.com/jquery-1.10.2.min.js")
  script(src="/socket.io/socket.io.js")


body
  textarea#textbox

  script.
    var socket = io("#{socketurl}");
    socket.emit('createNote');
    var lastValue = '';
    $("#textbox").on('change keyup paste mouseup', function() {
      setTimeout(function() {
        if ($("#textbox").val() != lastValue) {
          lastValue = $("#textbox").val();
          socket.emit('updateNote', lastValue);
          console.log('I really changed the text.');
        }
      }, 1000);
    });

